$main-color: rgba(207, 94, 166, 0.742);
$main-text: rgb(246, 216, 235);
$border-radius: 8px;

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	color: $main-text;
}

.main-container {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	select {
		padding-left: 10px;
		font-size: 20px;
		background-color: $main-color;
		height: 38px;
		border-radius: $border-radius;
		border: none;
	}

	img {
		border-radius: $border-radius;
		max-width: 600px;
		max-height: 500px;
	}

	p {
		font-family: "Courier New", Courier, monospace;
		font-style: italic;
		font-size: 18px;
		color: #444;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 15px 20px;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		text-align: center;
		margin-top: 20px;
		position: relative;
		animation: fadeIn 1s ease-in-out;

		&:before {
			content: "“";
			font-size: 1.8rem;
			position: absolute;
			left: 10px;
			top: -10px;
			color: #bbb;
		}

		&:after {
			content: "”";
			font-size: 1.8rem;
			position: absolute;
			right: 10px;
			bottom: -16px;
			color: #bbb;
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	button {
		border-radius: $border-radius;
		border: 1px solid transparent;
		padding: 0.6em 1.2em;
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		background-color: $main-color;
		cursor: pointer;
		transition: background-color 0.25s;

		&:hover {
			background-color: rgba(207, 94, 166);
		}
	}
}
